<template>
  <div class="loginComponent">
    <template v-if="user == null">
      <input v-model="userName" key="userName"></input>
      <input v-model="userPassword" type="password"></input>
      <button @click="login">Login</button>
    </template>
    <template v-else>
      <span>{{user.name}}</span>
      <button @click="logout">Logout</button>
    </template>
  </div>
</template>

<script>
export default {
  name: 'loginComponent',
  data: function () {
    return {
      user: null,
      userName: '',
      userPassword: ''
    }
  },
  methods: {
    logout () {
      console.log('test access...')
      let url = 'http://db1.openbeelab.org:5984/_session'
      let options = {headers: {'Content-Type': 'application/json'}, credentials: true}
      this.$http.delete(url, options).then((response) => {
        console.log(response)
        this.user = null
        this.$emit('logout')
      },
      (error) => {
        // error callback
        console.log(error)
      })
    },
    login () {
      console.log('login! ' + this.userName + ',' + this.userPassword)
      let url = 'http://db1.openbeelab.org:5984/_session'
      let body = {name: this.userName, password: this.userPassword}
      let options = {headers: {'Content-Type': 'application/json'}, credentials: true}
      this.$http.post(url, body, options).then((response) => {
        // success callback
        console.log(response)
        console.log(response.headers['Set-Cookie'])
        console.log(response.headers)
        if (response.body.ok === true) {
          this.user = {name: response.body.name, roles: response.body.roles}
          this.userName = ''
          this.userPassword = ''
          this.$emit('login')
        }
      },
      (error) => {
        // error callback
        console.log(error)
      })
    }
  }
}
</script>
