<template>
  <div id="app">
    <img src="./assets/logo.png">
    <loginComponent @login="login" @logout="logout"></loginComponent>
  </div>
</template>

<script>
import LoginComponent from './components/LoginComponent'

export default {
  name: 'app',
  components: {
    LoginComponent
  },
  data: function () {
    return {
      user: null
    }
  },
  methods: {
    login: function () {
      console.log('logged in.')
    },
    logout: function () {
      console.log('logged out.')
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
